<div class="container" style="margin:auto;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-sm-12 col-md-4"  style="margin:auto;">
            <div class="account-wall">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="regForm">
                        <form class="form-signin" name="signForm">
                            <input type="password" pattern="^(?=\S*[^\s])\S{4,}$" class="form-control" placeholder="Password" required name="pass" ng-model="forgot.password">
                            <button type="button" class="btn btn-lg btn-default btn-block" value="Sign Up" ng-click="forget()">Set Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>