
<div class="container text-center"><div class="row">
    <h1> Hello {{me.u_fullname}}</h1>
    <h4> You got {{me.orders}} hours left</h4>
        <md-button class="btn cool-box help-button" ng-click="helpMe()">Help!</md-button>
        <md-button class="btn cool-box bug-button" ng-click="bugReport()">BugReport!</md-button>
</div>
</div>