<form action="/confirm" method="post">
    <input placeholder="your huji cs user name" name="user" required><br>
    <input placeholder="your full name like 'moshe krufnik'" name="name" required><br>
    <input placeholder="your full name like 'moshe krufnik'" type="password" name="pass" required><br>
    <input type="submit" value="Submit">
</form>