<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tableApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tableApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tableApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tableApp" class="no-js"> <!--<![endif]-->
<head>
    <%-include styles.ejs%>
    <meta charset="UTF-8">
    <title>CS room reservation</title>
</head>
<body>
<div ng-controller="loginCtrl">
    <%-include signupform.ejs%>
    <link rel="stylesheet" href="css/signin.css">
</div>
</body>
<%-include scripts.ejs%>
</html>