<div class="container" style="margin:auto;">
    <div class="row">
        <div class="col-sm-12 col-md-4"  style="margin:auto;">
            <div class="account-wall">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="login">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                             alt="">
                        <form class="form-signin" name="loginForm" id="logForm">
                            <input type="text" pattern="^[A-Za-z0-9-_]+$" name="user" class="form-control" placeholder="Username" required autofocus ng-model="signin.user">
                            <input type="password" pattern="^[A-Za-z0-9-_]{6}[A-Za-z0-9-_]+$" name="pass" class="form-control" placeholder="Password" required ng-model="signin.pass">
                            <button class="btn btn-lg btn-default btn-block" value="Sign In" ng-click="sign()">Sign In</button>
                        </form>
                        <div id="tabs" data-tabs="tabs">
                            <p class="text-center"><a href="#regForm" data-toggle="tab">Need an Account?</a></p>
                        </div>
                    </div>
                    <div class="tab-pane" id="regForm">
                        <form class="form-signin" name="signForm">
                            <input type="text" pattern="^[A-Za-z0-9-_\.]+$" class="form-control" placeholder="CS Username" required autofocus name="user" ng-model="register.user">
                            <input type="text" pattern="^[A-Za-z]+ [A-Za-z]+$" class="form-control" placeholder="Full name" required name="name" ng-model="register.name">
                            <input type="password" pattern="^[A-Za-z0-9-_]{6}[A-Za-z0-9-_]+$" class="form-control" placeholder="Password" required name="pass" ng-model="register.pass">
                            <button class="btn btn-lg btn-default btn-block" value="Sign Up" ng-click="reg()">Sign Up</button>
                        </form>
                        <div id="tabs" data-tabs="tabs">
                            <p class="text-center"><a href="#logForm" data-toggle="tab">Have an Account?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>