<div class="container fix-table">
    <ul class="nav nav-pills nav-justified visible-sm visible-md visible-lg" style="margin-left: 13px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);">
        <li ng-repeat="date in dates" ng-class="{active : selected(date), disabled : datePass(date)}">
            <a ng-click="selectDate(date)">{{date.format('DD-MM-YYYY')}}</a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-justified hidden-sm visible-xs">
        <li ng-repeat="date in beforeCurrent" ng-class="{active : selected(date), disabled : datePass(date)}">
            <a ng-click="selectDate(date)">{{date.format('DD-MM-YYYY')}}</a>
        </li>
    </ul>
    <table class="table table-hover table-responsive cool-box hidden-xs" style="overflow-x: hidden" id="no-more-tables">
        <thead>
        <tr>
            <th>Slot / Room</th>
            <th ng-repeat="room in rooms">{{room.r_name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="timeFrame in getNumber(maxFrame)" ng-class="{'disabled' : isSlotPassed[timeFrame]}">
            <td>{{slotAndRoomToTime(timeFrame)}}</td>
            <td ng-repeat="room in rooms" data-title="{{room.r_name}} @ {{slotAndRoomToTime(timeFrame)}}">
                <md-checkbox class="md-primary" ng-disabled="isSlotPassed[timeFrame]" ng-if="slotFree(room, timeFrame)" ng-model="checkBoxes[activeDate.toLocaleString() + ',' + room.r_id + ',' + timeFrame]" aria-label="Hello"></md-checkbox>
                <span ng-if="!slotFree(room, timeFrame)"><span ng-repeat="user in getUserName(room, timeFrame)">{{user}}<br> </span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover table-responsive cool-box visible-xs hidden-sm" id="no-more-tables">
        <!--timeFrame in getNumber(maxFrame)-->
        <tbody>
        <tr ng-repeat="room in rooms" data-title="{{room.r_name}}">
            <td ng-repeat="timeFrame in getNumber(maxFrame)" data-title="{{room.r_name}} @ {{slotAndRoomToTime(timeFrame)}}" ng-click="mark(activeDate, room, timeFrame);" ng-class="{'disabled' : isSlotPassed[timeFrame]}">
                <md-checkbox ng-click="mark(activeDate, room, timeFrame);" class="md-primary" ng-disabled="isSlotPassed[timeFrame]" ng-if="slotFree(room, timeFrame)" ng-model="checkBoxes[activeDate.toLocaleString() + ',' + room.r_id + ',' + timeFrame]" aria-label="Hello"></md-checkbox>
                <span ng-if="!slotFree(room, timeFrame)"><span ng-repeat="user in getUserName(room, timeFrame)">{{user}}<br> </span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills nav-justified hidden-sm visible-xs">
        <li ng-repeat="date in afterCurrent" ng-class="{active : selected(date), disabled : datePass(date)}">
            <a ng-click="selectDate(date)">{{date.format('DD-MM-YYYY')}}</a>
        </li>
    </ul>
    <div class="row" style="text-align: center;">
        <md-button class="md-raised md-primary" style="background-color:#337ab7; border-radius:5px;" ng-disabled="me.orders < 1" ng-click="sendSlots()">Submit</md-button>
    </div>
</div>